
:host {
  display: block;
  padding: 1.5rem;
  max-width: 100%;
}


h1[mat-dialog-title] {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.75rem;
}


div[mat-dialog-content] {
  margin: 1rem 0;
  font-size: 1.125rem;
  color: #555;
  text-align: center;
}


div[mat-dialog-actions] {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}


button[mat-button] {
  background-color: transparent;
  color: #666;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}


button[mat-raised-button] {
  background-color:#f2b1ab,;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  &:hover {
    background-color: #b11010;
    color:white
  }
}


@media (max-width: 600px) {
  :host {
    padding: 1rem;
  }
  
  h1[mat-dialog-title] {
    font-size: 1.25rem;
  }
  
  div[mat-dialog-content] {
    font-size: 1rem;
  }

  div[mat-dialog-actions] {
    flex-direction: column;
    gap: 0.5rem;

    button[mat-button],
    button[mat-raised-button] {
      width: 100%;
    }
  }
}
