<section class="main-content">
  <mat-card *ngIf="loading" class="loading-indicator">
    <mat-card-content>Loading...</mat-card-content>
  </mat-card>
  
  <mat-card *ngIf="error" class="error-message">
    <mat-card-content>{{ error }}</mat-card-content>
  </mat-card>

  <section class="search-section">
    
    <input matInput type="text" class="search-bar" [(ngModel)]="searchText" placeholder="🔍 Search for Company Name or Job Title...">
  </section>
  
  <mat-card *ngFor="let company of companyApplications | search: searchText : ['companyName', 'jobTitle']" class="job-card">
    <mat-card-header>
      <div class="company-info">
        <img [src]="company.companyLogoUrl" alt="{{ company.companyName }} Logo" class="company-logo">
        <div class="company-details">
          <h4>{{ company.companyName }}</h4>
          <h3>{{ company.jobTitle }}</h3>
          <span class="application-count">{{ company.applicationsCount }} Applications</span>
        </div>
      </div>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-raised-button color="warn" (click)="onViewApplications(company.jobId)">View Applications</button>
    </mat-card-actions>
    
  </mat-card>
</section>
