  /* Search Section */
  .search-section {
    padding: 20px 20px;
    background-color: #ffffff00;
    text-align: center;
    margin-top: 10px; 
}

.search-title {
    font-family: 'Cursive', sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #0c0000;
    font-style: italic;
}

.search-bar {
    width: 50%;
    padding: 10px;
    border: 1px solid #0b0b0b5b;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-right: none;
}

  .search-bar {
    width: 60%;
    margin: 0 auto;
  }
  
  
  .job-card {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: flex-end; 
    padding: 16px;
    background-color: #f4f4f4; 
  }
  
  
  .main-content {
    margin-top: 100px;
    padding: 20px;
  }
  
  
  .company-info {
    display: flex;
    align-items: center;
  }
  
  .company-logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .company-details {
    display: flex;
    flex-direction: column;
  }
  
  .company-details h4 {
    margin: 0;
    font-size: 20px;
    color: mat-color(primary);
  }
  
  .company-details p {
    margin: 5px 0 0;
    color: #555;
  }
  
  .application-count {
    font-size: 18px;
    color: mat-color(primary);
    font-weight: bold;
  }
  
  .view-applications-button {
    background-color: mat-color(warn);
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-applications-button:hover {
    background-color: mat-color(warn, 700);
  }
  
  .loading-indicator {
    text-align: center;
    font-size: 18px;
    color: mat-color(primary);
  }
  
  .error-message {
    text-align: center;
    color: mat-color(warn);
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .job-card {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .company-info {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .company-logo {
      margin-bottom: 10px;
    }
  }
  