<!-- userlayout.component.html -->
<nav class="navbar">
    <div class="container">
        <div class="brand-logo">HIRE ME📢</div>
        <ul class="nav-links">
            <li><a href="#jobs" class="active">Jobs</a></li>
            <li><a href="#application-status">Application Status</a></li>
            <li><a href="#favorite-jobs">Favorite Jobs</a></li>
        </ul>
        <div class="user-actions">
            <span class="user-icon">USER 👤</span>
            <button class="logout-button">Logout</button>
        </div>
    </div>
</nav>
<!-- Content Section -->
<div class="content">
    <!-- Place for main content of the page -->
    <router-outlet></router-outlet>
    
</div>
