/* General Styles */
.mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  color: #ffffff;
  left: 0;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  overflow: hidden;
}

.sidenav {
  width: 250px;
  background-color: var(--mat-primary);
  color: #ffffff;
  flex-shrink: 0;
}

.sidenav-content {
  flex-grow: 1;
  padding: 16px;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.sidenav-content::-webkit-scrollbar {
  display: none;
}

.sidenav-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Badge Button Styling */
button[mat-icon-button] {
  position: relative;
}

.badge-button::after {
  content: attr(matBadge);
  background-color: var(--mat-badge-accent);
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

/* Notification Drawer Styling */
.notification-drawer {
  width: 500px; 
  max-width: 100%;
  background: #f4f4f4;
  padding: 16px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #e0e0e0;
  overflow-y: auto;
  overflow-x: hidden;
}

.notification-item {
  display: flex;
  align-items: flex-start;
  padding: 12px 8px;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  position: relative;
}

.notification-item mat-icon {
  margin-right: 12px;
  color: #0e0e0f;
  flex-shrink: 0;
  align-self: flex-start;
}

.notification-content {
  display: flex-start;
  flex-direction: column;
  flex-grow: 2;
  overflow-wrap: break-word;
  margin-right: 40px;
}

.notification-message {
  font-size: 14px;
  margin-bottom: 1px;
  white-space: normal;
}

.time-ago {
  font-size: 12px;
  color: #b11010;
  margin-top: 4px;
}

.notification-drawer button[mat-icon-button] {
  color: #777;
  padding: 4px;
  margin-left: 10px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  flex-shrink: 0;
}

/* Highlight unread notifications */
.unread {
  background-color: #e8f4fd;
  border-left: 4px solid #007bff;
}