<!-- userlayout.component.html -->
<nav class="navbar">
    <div class="container">
        <div class="brand-logo">HIRE ME📢</div>
        <ul class="nav-links">
            <li>
                <a routerLink="/user-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Jobs</a>
            </li>
            <li>
                <a routerLink="/application-status" routerLinkActive="active">Application Status</a>
            </li>
            <li>
                <a routerLink="/favorite-jobs" routerLinkActive="active">Favorite Jobs</a>
            </li>
        </ul>
        <div class="user-actions">
            <span class="user-icon">USER 👤</span>
            <button class="logout-button">Logout</button>
        </div>
    </div>
</nav>

<!-- Content Section -->
<div class="content">
    <router-outlet></router-outlet>
</div>
