.mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  color: #ffffff;
  left: 0;
  height: 64px; /* Ensure the height is consistent */
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: calc(100vh - 64px); /* Account for the height of the toolbar */
  display: flex;
  flex-direction: row;
  margin-top: 64px; /* Offset the content by the height of the toolbar */
  overflow: hidden;
}

.sidenav {
  height: calc(100vh - 64px); /* Ensure sidenav doesn't go under the toolbar */
  left: 0;
  width: 250px;
  background-color: #0D1B2A;
  color: #ffffff;
  flex-shrink: 0;
}

button.nav-button {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
  color: white;
  height: 56px;
  padding: 0 18px;
  font-size: 16px;
}

button.nav-button mat-icon {
  margin-right: 10px;
  font-size: 18px;
}

button.nav-button.active {
  background-color: #A9D6E5;
  color: rgb(4, 0, 0);
}

button.nav-button:hover {
  background-color: #A9D6E5;
  color: rgb(4, 0, 0);
  font-size: large;
}

.sidenav-content {
  flex-grow: 1;
  padding: 16px;
  height: calc(100vh - 64px); /* Ensure content doesn't go under the toolbar */
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #dce7f0;
}

.sidenav-content::-webkit-scrollbar {
  display: none;
}

.sidenav-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.notification-drawer {
  width: 500px;
  max-width: 100%;
  background: #0D1B2A;
  padding: 16px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #e0e0e0;
  overflow-y: auto;
  overflow-x: hidden;
 
}

.notification-item {
  margin-bottom: 15px;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.notification-item mat-icon {
  margin-right: 12px;
  color: #000007;
  flex-shrink: 0;
}

.notification-content {
  display: flex-start;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  overflow-wrap: break-word;
  margin-right: 40px;
  align-items: center;
  width: 100%; /* Align notification content to the start */
}


.notification-message {
  font-size: 14px;
  margin-bottom: 2px;
  white-space: normal;
}

.time-ago {
  font-size: 12px;
  color: #b11010;
  margin-top: 4px;
  margin-left: auto;
}

.notification-drawer button[mat-icon-button] {
  color: #777;
  padding: 4px;
  margin-left: 10px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.unread {
  background-color: #A9D6E5;
  border-left: 5px solid #b11010;
}

.notification-item.read {
  background-color: #f2b1aa;
  border-left: 5px solid green;
}

.no-notifications-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin: 20px 0;
  font-size: 16px;
}

.no-notifications-message mat-icon {
  margin-right: 8px;
  color: #757575;
}

button.mat-icon-button {
  margin-left: auto;
  color: #4caf50;
}
