/* General Styles */
.mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  color: #ffffff;
  left: 0;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: 64px; /* Adjust based on your toolbar height */
  overflow: hidden;
}

.sidenav {
  width: 250px;
  background-color: #3f51b5;
  color: #ffffff;
  flex-shrink: 0;
}

/* Ensure text color is white for links inside sidenav */
.sidenav .mat-nav-list a, 
.sidenav .mat-nav-list a span {
  color: #ffffff !important;
}

/* Ensure icon color is white */
.sidenav .mat-icon {
  color: #ffffff !important;
}

/* Optional: highlight active link */
.sidenav .mat-nav-list a.mat-list-item.active {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.sidenav-content {
  flex-grow: 1;
  padding: 16px;
  height: calc(100vh - 64px); /* Adjust based on your toolbar height */
  overflow-y: auto;
  background-color: rgb(215, 235, 243);
}

.sidenav-content::-webkit-scrollbar {
  display: none;
}

.sidenav-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Notification Drawer Styling */
.notification-drawer {
  width: 500px; 
  max-width: 100%;
  background: #f4f4f4;
  padding: 16px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #e0e0e0;
  overflow-y: auto;
  overflow-x: hidden;
}

.notification-item {
  margin-bottom: 15px; 
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.notification-item mat-icon {
  margin-right: 12px;
  color: #0e0e0f;
  flex-shrink: 0;
}

.notification-content {
  display: flex-start;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  overflow-wrap: break-word;
  margin-right: 40px;
  align-items: center;
  width: 100%;
}

.notification-message {
  font-size: 14px;
  margin-bottom: 1px;
  white-space: normal;
}

.time-ago {
  font-size: 12px;
  color: #b11010;
  margin-top: 4px;
  margin-left: 10px;
}

.notification-drawer button[mat-icon-button] {
  color: #777;
  padding: 4px;
  margin-left: 10px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  flex-shrink: 0;
}

/* Highlight unread notifications */
.unread {
  background-color: #e8f4fd;
  border-left: 4px solid #007bff;
}
