
.signup-page {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: relative;
    overflow: hidden;
  }
  
 
  .signup-page::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/assets/office.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px); 
    z-index: -1; 
  }
  
  .signup-page::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      rgba(52, 52, 188, 0.66), 
      rgba(255, 255, 255, 0.1)  
    );
    z-index: -1;
  }
  

  .signup-container {
    margin-top: 40px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(84, 12, 191, 0.792); 
    max-width: 600px;
    width: 100%;
    text-align: center;
    background-color: #ffffffc8; 
    position: relative;
    z-index: 1; 
  }
  
 
  .logo-text {
    font-size: 28px;
    margin-bottom: 15px;
    color: #0D1B2A; 
    font-weight: bold;
    font-style: italic;
  }
  
  .quote {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .signup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-group {
    width: 48%;
  }
  
  .center-field {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .login-link {
    margin-top: 20px;
  }
  
  .login-link p {
    font-size: 14px;
    color: #555;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  