/* Toolbar Styling */
.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #0D1B2A,; 
  color: white;
  box-shadow: 0px 4px 2px -2px gray;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;

  .brand-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  .spacer {
    flex: 1;
  }

  /* Navigation Button Styling */
  .nav-button {
    color: white;
    text-transform: none;
    font-size: 1rem;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
    &.active {
      background-color: #A9D6E5; 
      color: rgb(4, 0, 0); 
      border-bottom: 2px solid white;
    }
    
    &:hover {
      background-color: #A9D6E5; 
      color: rgb(4, 0, 0); 
      font-size: large;
    }
  }

  /* User Actions */
  .user-actions {
    button {
      color: white;
    }
  
    .mat-menu .mat-menu-item {
      color: #0D1B2A;
      color:white;
      
      &:hover {
        background-color: #e0f7fa;
        color: black; 
      }
    }
  }
}

/* Content Section Styling */
.content {
  padding: 15px;
  background-color: rgb(215, 235, 243); 
  width: 100%;
  height: calc(100vh - 64px); 
  overflow: auto;
  border: none;
}
