<!-- Navbar -->
<nav class="navbar">
    <div class="container">
      <div class="brand-logo">HIRE ME📢</div>
      <ul class="nav-links">
        <li><a href="#dashboard" class="active">Dashboard</a></li>
        <li><a href="#application-status">Applications</a></li>
        <li><a href="#favorite-jobs">Job Postings</a></li>
      </ul>
      <div class="user-actions">
        <span class="user-icon"></span>
        <button class="logout-button">Admin👤</button>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  