<mat-toolbar color="primary">
  <div class="container">
    <span class="brand-logo">
      Hire Me📢
    </span>
    
    <span class="spacer"></span>

    <!-- Navigation Links with Active and Hover States -->
    <button class="nav-button" mat-button routerLink="/admin-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</button>
    <button class="nav-button" mat-button routerLink="/applications" routerLinkActive="active">Applications</button>
    
    <button class="nav-button" mat-button routerLink="/job-posting" routerLinkActive="active">Job Postings</button>
    
    <span class="spacer"></span>

    <div class="user-actions">
      <button mat-icon-button [matMenuTriggerFor]="adminMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #adminMenu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<!-- Content Section -->
<div class="content">
  <router-outlet></router-outlet>
</div>
