
  /* Search Section */
  .search-section {
    padding: 0px;
    background-color: #ffffff00;
    text-align: center;
    margin-top: 10px; 
}

.search-title {
    font-family: 'Cursive', sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #0c0000;
    font-style: italic;
}

.search-bar {
    width: 70%;
    padding: 10px;
    border: 1px solid #0b0b0b5b;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-right: none;
}

  

/* Main content styling */
.main-content {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

//* Main content styling */
.main-content {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Create New Job Posting button styling */
.create-job-button {
  margin-top: 20px;
  margin-bottom: 2px;
  padding: 10px 10px;
  background-color: warn;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.create-job-button:hover {
  background-color: mat-color(primary, 700);
}

/* Job cards container */
.job-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

/* Job card styling */
.job-card {
  width: calc(50% - 10px); 
  margin-bottom: 20px;
  box-sizing: border-box; 
}

/* Company logo */
.company-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Actions button styling */
.actions-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}


/* Modal Background */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex; 
}
/* Modal Content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  max-height: 90vh; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001; 
}

.close-button:hover {
  color: #000;
}

/* Styles for job cards */
.job-card {
  margin-bottom: 20px;
}

.company-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.actions-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px; 
}

.full-width {
  width: 100%; 
  margin-bottom: 20px; 
}

.submit-button {
  margin-top: 20px;
}
