<section class="main-content">
  <button mat-raised-button color="warn" class="back-button" (click)="goBack()">Back</button>
 
  <!-- Header with Company Name and Job Role -->
  <div class="header-section">
      <mat-card class="company-info">
          <mat-card-header>
              <mat-card-avatar>
                  <img [src]="companyLogo" alt="{{ jobTitle }} Logo" class="company-logo">
              </mat-card-avatar>
              <mat-card-title>{{ jobTitle }}</mat-card-title>
              <mat-card-subtitle>{{ companyName }}</mat-card-subtitle>
          </mat-card-header>
      </mat-card>
  </div>

   <!-- Filter Input Field -->
   <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Enter Applicant's name or Current Stage..." #input>
  </mat-form-field>

  <!-- Applications Table -->
  <div class="applications-table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Applicant Name Column -->
          <ng-container matColumnDef="applicantName">
              <th mat-header-cell *matHeaderCellDef> Applicant Name </th>
              <td mat-cell *matCellDef="let application"> <span style="text-transform: uppercase;">{{ application.user.username }}</span> </td>
          </ng-container>

          <!-- Date Applied Column -->
          <ng-container matColumnDef="dateApplied">
              <th mat-header-cell *matHeaderCellDef> Date Applied </th>
              <td mat-cell *matCellDef="let application"> {{ application.submittedAt | date }} </td>
          </ng-container>

          <!-- Current Status Column -->
          <ng-container matColumnDef="currentStatus">
              <th mat-header-cell *matHeaderCellDef> Current Status </th>
              <td mat-cell *matCellDef="let application">
                  <mat-select [(value)]="application.status" (selectionChange)="updateStatus(application)">
                      <mat-option *ngFor="let status of statusOptions" [value]="status">{{ status }}</mat-option>
                  </mat-select>
              </td>
          </ng-container>

          <!-- Current Stage Column -->
          <ng-container matColumnDef="currentStage">
              <th mat-header-cell *matHeaderCellDef> Current Stage </th>
              <td mat-cell *matCellDef="let application"> {{ application.currentStage }} </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let application">
                  <button mat-stroked-button class="custom-stoked-button" (click)="openStageModal(application)"
                  [disabled]="application.status !== 'ACCEPTED'">Update Stage</button>
              </td>
          </ng-container>

          <!-- User Profile Column -->
          <ng-container matColumnDef="userProfile">
              <th mat-header-cell *matHeaderCellDef> User Profile </th>
              <td mat-cell *matCellDef="let application">
                  <button mat-stroked-button class="custom-stoked-button" (click)="openProfileModal(application.userProfile.id)">View Profile</button>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>

  <!-- Stage Update Modal -->
  <div *ngIf="showStageModal" class="modal-overlay">
      <div class="modal-content">
          <button class="close-button" (click)="closeStageModal()" style="float: right;">
              <i class="fas fa-times"></i>
          </button>
          <div class="update-stage-container">
            <h3>
                Update Stage for Applicant: 
                <span style="text-transform: uppercase; font-weight: bold;">{{ applicantName }}</span>
            </h3>
              <mat-form-field class="stage-field">
                  <mat-label>Select Stage</mat-label>
                  <mat-select [(value)]="selectedStage">
                      <mat-option *ngFor="let stage of stageOptions" [value]="stage">{{ stage }}</mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field class="stage-status-field">
                  <mat-label>Select Stage Status</mat-label>
                  <mat-select [(value)]="selectedStageStatus">
                      <mat-option *ngFor="let status of stageStatusOptions" [value]="status">{{ status }}</mat-option>
                  </mat-select>
              </mat-form-field>
              <div class="button-container">
                  <button mat-raised-button color="warn" (click)="updateStage()">Update</button>
              </div>
          </div>
      </div>
  </div>

  <!-- User Profile Modal -->
  <div *ngIf="showProfileModal" class="modal-overlay">
      <mat-card class="modal-content">
          <div style="display: flex; justify-content: flex-end;">
              <button mat-icon-button class="close-button" (click)="closeProfileModal()">
                  <mat-icon>close</mat-icon>
              </button>
          </div>
          <div *ngIf="userProfile" class="profile-container">
              <mat-card-header class="profile-header">
                  <div class="profile-header-content">
                      <mat-card-avatar>
                          <img [src]="userProfile.profilePicture" alt="Profile Picture"
                              class="profile-picture">
                      </mat-card-avatar>
                      <div class="profile-info">
                          <mat-card-title>{{ userProfile.firstName }} {{ userProfile.lastName }}</mat-card-title>
                          <mat-card-subtitle>Email: {{ userProfile.email }}</mat-card-subtitle>
                      </div>
                  </div>
              </mat-card-header>
              <mat-card-content class="additional-details">
                  <p>Phone: {{ userProfile.phoneNumber }}</p>
                  <p>Qualification: {{ userProfile.highestQualification }}</p>
                  <p>Field of Study: {{ userProfile.fieldOfStudy }}</p>
                  <p>College: {{ userProfile.college }}</p>
                  <p>Graduation Year: {{ userProfile.graduationYear }}</p>
                  <p>Grades: {{ userProfile.grades }}</p>
                  <p>Experience: {{ userProfile.totalExperience }}</p>
                  <p>Current Employer: {{ userProfile.currentEmployer }}</p>
                  <p>Current Position: {{ userProfile.currentPosition }}</p>
                  <p>Employment History: {{ userProfile.employmentHistory }}</p>
                  <p *ngIf="userProfile.resume">Resume: <a [href]="userProfile.resume" target="_blank">View Resume</a></p>
                  <p *ngIf="userProfile.portfolio">Portfolio: <a [href]="userProfile.portfolio" target="_blank">View Portfolio</a></p>
                  <p *ngIf="userProfile.linkedinProfile">LinkedIn: <a [href]="userProfile.linkedinProfile" target="_blank">View LinkedIn Profile</a></p>
              </mat-card-content>
          </div>
      </mat-card>
  </div>
</section>
