.profile-container {
  
  width:100%;
  max-width: 1150px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.no-profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile-details {
  border-radius: 10px;
  background-color: #c4d3e3;
  padding: 10px;
  margin-top: 30px;
}

.profile-info {
  text-align: justify;
  margin-bottom: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0;
  object-fit: cover;
}

.profile-sections {
  display: flex;
  justify-content: space-between;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.education-details,
.work-experience {
  flex: 1;
  margin: 0 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.show-modal {
  display: block;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
}

.close {
  float: right;
  font-size: 24px;
  color: #333;
}

.close:hover {
  color: #f44336;
  cursor: pointer;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button[type="submit"] {
  margin-top: 15px;
  width: 100%;
}
.profile-details {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.profile-picture {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.profile-info {
  flex: 1;
}

.profile-info h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.profile-info p {
  
  font-size: 16px;
}

.profile-info a {
  color: #1e88e5;
  text-decoration: none;
}

.profile-info a:hover {
  text-decoration: underline;
}
