

.overview-section {
  margin-bottom: 20px;
}

.stat-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  text-align: left;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  min-height: 150px;
  background-color: #f2b1aa;
  border-left: 6px solid #0D1B2A;
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }

  .card-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
  }

  .icon {
    margin-right: 10px;
    font-size: 20px;
    color: #0D1B2A;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    text-align: right;

    h3 {
      margin: 0;
      margin-right: 20px;
      margin-bottom: 10px;
      font-size: 35px;
      color:#024c62;
      font-style: bold;
    }

    p {
      margin: 0;
      font-size: 18px;
      color: #5c0807;
    }
  }
}

.mat-grid-tile {
  padding: 5px;
}

.charts-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;

}

.chart {
  flex: 1;
  min-width: 300px;
  height: 300px;
  
}

